input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    padding: 1rem;
    width: 20px;
    height: 40px;
    font-size: 30px;
    margin: 0 1rem;
}

button{
    margin: 1rem 0;
}